<p>パスワード再発行をご希望いただきありがとうございます。</p>

<p>以下があなたのワンタイムパスワードです：</p>
<h2><%= @token %></h2>

<p>下記のリンクからパスワードを再発行できます：</p>
<p><a href="https://hf-avenue.biz/tracker/reset_password">https://hf-avenue.biz/tracker/reset_password</a></p>
