body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    margin: 1em;
}

h1 {
    font-size: 18px;
    border-left: 5px solid #31cc31;
    border-bottom: 5px solid #31cc31 ;
    padding-left: 10px;
    padding-bottom: 5px;
}

h2{
    font-size: 16px;
    border-left: 3px solid #31cc31;
    border-bottom: 3px solid #31cc31;
    padding-left: 10px;
    padding-bottom: 5px;
}

h3 {
    font-size: 15px;
    border-left: 2px solid #31cc31;
    border-bottom: 1px solid #31cc31;
    padding-left: 10px;
    padding-bottom: 5px;
}