<h1 class="border-left">Tracker for creator</h1>
<h2>クリエイターの為の進捗管理・契約書管理クラウドサービス</h2>
<h3>About</h3>
<p>Tracker for creatorはクリエイターの為の進捗管理や契約書管理を行うクラウドサービスです。<br>
クリエイター単独で進捗をメモするのは勿論、サークルなどでの同人誌、合同誌等の企画でプロジェクトごとに
メンバーを登録し進捗管理を行う他、主催者と参加クリエイター間で発注契約書、受注契約書の交換等もでき
成果物の持ち逃げ或いは発注費の持ち逃げ等のトラブル防止にも役立ちます。
無料プランでは５プロジェクトと５名までのメンバー招待・管理が出来ますのでお気軽にご利用下さい。
詳細な利用方法はUsageをご覧くださいませ。


</p>