<h1>Tracker for creator|Legal</h1>
<%= render "header" %>
<h2>法的な情報と賠償責任について</h2>
<p>弊サイト並びに管理人（以下甲）は弊サイト利用者（以下乙）と共にサイト利用について次の通り契約を結びます。<br>
弊サイトにおいて発生した物理的、金銭的存在について乙は甲に対して賠償責任を求めることはしない事を確約します。<br>
また、甲は乙が弊サイトの利用に際して受けた損害について一切の責任を負わない事をサイト利用を持って確約します。
</p>
<h2>個人情報について</h2>
<p>個人情報は当サイトが厳重に管理し、外部に流出しないよう最大限の努力を払います。<br>万が一流出がありました場合は弊サイトにて告知を行います。
<br>なお、これらによる損害賠償金について甲は一切乙に対して支払い責任を負わないものとします。
<h2>支払いについて</h2>
<p>プレミアムプランは年5000円（毎年更新）、プロダクションプランは年20000円（毎年更新）となります。なお、年の途中の解約を行なった場合の日割り返金などは行いません。</p>
<h2>契約書交換機能の責任範囲</h2>
<p>当クラウドサービスには発注者と受注者が互いに契約書を交換し合う機能がありますが、これは必ず契約が履行されるものを保証するものではなく、あくまで当事者間での円滑な契約をサポートする物であり、当事者間で契約不履行があった場合に当サービスが損失補填をするものではありません。</p>
<h2>特商法の表示</h2>
<ul>
  <li>事業団体名：任意団体橋詰製作所アベニュー</li>
  <li>連絡先:hasidume.factory@gmail.com</li>
  <li>代表者名・住所：メールにて実名と住所、電話番号を添えてお問い合わせください</li>
</ul>