<h1>Tracker for creator|Usage</h1>
<%= render "header" %>
<h2>Usage|利用方法</h2>
<p>このクラウドサービスは主にクリエイター、或いはクリエイターと契約し創作活動をディレクションする方向けのものです。</p>
<h3>個人単位での使い方</h3>
<p>signupでアカウントを作成し、ダッシュボードからプロジェクトを選択して、そこに自分のタスクを登録して進捗を管理してください</p>
<h3>サークル・団体・法人単位での使い方</h3>
<p>案件、サークル、団体、法人、依頼主側でアカウントを作成し、発注先・サークルメンバー、案件メンバーのメールアドレスに招待メールを送ります。<br>
招待メールを受け取ったメンバーは発注主との間で発注契約書、受注契約書を交換しあった後に、依頼主もしくはサークル・団体のリーダーが各メンバーのタスクを登録していきます。<br>
なお、進捗率はプロジェクト作成者（サークル・団体リーダー）もしくはタスクを割り当てられた当事者が入力できます。<br>
完了したタスクはタスクステータスを実施中から完了に切り替えてプロジェクト関係者に報告できます。
<h3>有料プラン</h3>
<p>無料プランではプロジェクトは5個まで、招待できるメンバーも５人までとなっています。</p>
<p>プレミアムプランでご契約頂くとプロジェクト20個まで、招待出来るメンバーは20人までご利用頂けます。</p>
<p>プロダクションプランでご契約頂くとプロジェクト、メンバーは無制限でご利用いただけます</p>